@import "vars";
@import "blocks/uikit";
@import "vendor/reset";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 21px;
    color: #000;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0 240px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:focus,
textarea:focus-visible,
input:focus {
    outline: none;
    border: none;
}

/* ui-kit сброс некоторых настроек */

.uk-slider-container-offset {
    margin: 0;
    padding: 0;
}

.uk-grid {
    margin-left: 0;
}

.uk-grid + .uk-grid,
.uk-grid > .uk-grid-margin,
* + .uk-grid-margin {
    margin-top: 0;
}

.uk-margin {
    margin-bottom: 0;
}

.uk-offcanvas-bar {
    background: #1a4375;
}

.uk-dotnav {
    margin-left: 0;
}

.uk-search-default {
    width: 100%;
    padding-left: 45px;
    padding-right: 15px;
}

.uk-search-default .uk-search-icon:not(.uk-search-icon-flip) ~ .uk-search-input {
    padding-left: 0;
}

.uk-modal-dialog {
    max-width: 450px !important;
    overflow: hidden;
    border-radius: 20px;
}

.uk-modal-body {
    padding: 0;
}

.uk-width-large {
    max-width: 60px;
    min-width: auto;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    .uk-nav {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .uk-grid + .uk-grid,
    .uk-grid > .uk-grid-margin,
    * + .uk-grid-margin {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .uk-card-body {
        padding: 0;
    }
}

.uk-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    padding: 0 10px;

    a {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #ffffff;

        &:hover {
            color: #f23e60;
        }
    }
}

.uk-breadcrumb > :last-child > span,
.uk-breadcrumb > :last-child > a:not([href]) {
    color: #f23e60;
}

/* Blocks */

@import "blocks/header";
@import "blocks/burger";
@import "blocks/_home";
@import "blocks/_products";
@import "blocks/_offer";
@import "blocks/_news";
@import "blocks/_partners";
@import "blocks/_map";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/contact";
@import "blocks/advantage";
@import "blocks/projects";
@import "blocks/questions";
@import "blocks/history";
@import "blocks/company";
@import "blocks/goods";
@import "blocks/calculator";
@import "blocks/orders";
@import "blocks/productsPage";
@import "blocks/newsPage";
@import "blocks/newsDay";
@import "blocks/media";
