.footer {
    margin-top: 290px;
    padding-top: 100px;
    background: rgba(43, 89, 255, 0.05);

    ul {
        margin-top: 0;
    }
}

.footer__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(105, 120, 131, 0.4);
    padding-bottom: 40px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    margin-left: 35px;
}

.footer__list-item {
    h5 {
        font-family: "Nunito";
        font-weight: 800;
        font-size: 24px;
        line-height: 1.3;
        color: #2e2e46;
        margin-bottom: 30px;
    }
}

.footer__list-link {
    display: inline-block;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #222831;
    margin-bottom: 20px;

    &:hover {
        color: #222831;
    }
}

.footer__logo {
    margin-top: -15px;
    a {
        display: inline-block;
        color: #000;
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 20px;
    }
}

.footer__descr {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(46, 46, 70, 0.8);
    font-family: "Nurito";
    max-width: 210px;
}

.footer__item-end {
    justify-content: flex-end;
}

.footer__app {
    font-family: "Nunito";
    font-weight: 900;
    font-size: 24px;
    line-height: 132%;
    color: #2e2e46;
    margin-bottom: 18px;
}

.footer__app-btn {
    padding: 10px 18px;
    background: #2e2e46;
}

.footer__app-socials {
    display: flex;
    margin-top: 30px;
}

.footer__app-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border: 1px solid #ff7468;
    margin-right: 25px;
    transition: background-color 0.3s linear;

    &:hover {
        background: #ff7468;
    }

    img {
        width: 22px;
        height: 22px;

        &:hover {
            fill: #fff;
        }
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    text-align: center;
}

.footer__buttom-text {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.004em;
    color: rgba(46, 46, 70, 0.8);
}

.logo__panda {
    .btn {
        width: 180px;
        height: 60px;
        cursor: pointer;
        background: linear-gradient(180deg,#000, #8d8d99);
        outline: none;
        transition: 1s ease-in-out;
        border-radius: 5px;
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
        border-radius: 5px;
    }

    .btn:hover {
        transition: 1s ease-in-out;
    }

    .btn:hover svg {
        stroke-dashoffset: -480;
    }

    .btn a {
        color: white;
        font-size: 18px;
        font-weight: 100;
    }
}
