.form__modal {
	position: relative;
	width: 100%;
    max-width: 450px;
	background: rgba(28, 56, 99, 0.8);
	border-radius: 15px 15px 0 0;
	padding: 45px;

	&::after {
		content: "";
		position: absolute;
		bottom: -50px;
		left: 0;
		width: 0;
		height: 0;
		border-top: 50px solid rgba(28, 56, 99, 0.8);; 
		border-right: calc(#{$width-btn-orange} - 7px) solid transparent;
		border-radius:  0 0 15px 15px;
	}
}

.form__modal-add {
	display: flex;
	flex-direction: column;
}

.form__title {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	margin-bottom: 35px;
}

.form__modal-input,
.form__modal-textarea {
	font-family: "Nurito", sans-serif;
	width: 100%;
	border-radius: 90px;
	padding: 12px 25px;
	font-size: 16px;
	outline: none;
	border: 1px solid rgba(28, 56, 99, 0.8);

	&::placeholder {
		font-size: 16px;
	}

	&:focus {
		border: 1px solid #000;
	}
}

.form__modal-textarea {
	border-radius: 26px;
	resize: none;
	height: 134px;
	margin-bottom: 25px;
}

.form__wrapper-input {
	margin-bottom: 15px;
}

.form__input-error {
	margin-top: 5px;
	color: red;
	font-size: 15px;
	background: transparent;
	width: 100%;
	padding: 5px;
	border-radius: 20px;
}
/* 
.form-error {
	&::placeholder
} */