.map {
    padding: 130px 0;
}

.map__inner {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        z-index: 10;
        transform: translateX(-50%);
        width: 80%;
        height: 25px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.6);
        border-radius: 0 0 76px 76px;
        box-shadow: 45px 106px 183px rgba(27, 49, 66, 0.05);
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        transform: translate(-40%, 44%);
        width: 196px;
        height: 196px;
        background: url("../images/map-vector.png");
    }
}

.map__iframe {
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 24px;
    border-radius: 50px;
    overflow: hidden;
}

.map__wrapper {
    position: relative;
    height: 600px;
    overflow: hidden;
    margin-bottom: 64px;
    box-shadow: 50.9034px 118.775px 203.613px rgba(27, 49, 66, 0.13);
    border-radius: 50px;
}
