/* breakpoint 1830
@media (max-width: 1830px) {
    .container {
        padding: 0 100px;
    }

    .home__content {
        padding-left: 150px;
        padding-right: 150px;
    }
} */

/* Breakpoints 1600 */
@media (max-width: 1600px) {
    .container {
        padding: 0 40px;
    }

    .header__telephone {
        padding: 14px 16px;
    }

    .home__content {
        padding-left: 70px;
        padding-right: 70px;
    }

    .home__left {
        width: 55%;
    }

    .nav__link {
        margin: 0 14px;
    }
}

/* Landscape tablets and medium desktops - 1199px */
@media (max-width: 1199px) {

    /* scheme */
    .scheme {

        .scheme__list-items {
            padding: 0 15px;

            span {
                font-size: 17px;
            }
        }
    }

    /* calculator */
    .calculator {

        .calculator__row {
            flex-wrap: wrap;
        }

        .calculator__item {
            width: 100%;
            margin-bottom: 25px;
        }

        .calculator__list-item {
            margin-right: 20px;
        }

        .calculator__list {
            flex-wrap: wrap;
        }

        .calculator__list-item {
            margin-bottom: 10px;
        }
    }
}

/* Portrait tablets and small desktops - 991px */
@media (max-width: 991px) {

    /* home */
    .home {

        .home__content {
            min-height: 920px;
        }

        .home__title {
            font-size: 30px;
            margin-bottom: 20px;
        }

        .home__subtitle {
            font-size: 18px;
        }

        .home__footer-img {
            height: auto;
        }

        .home__footer-left {
            width: 60%;
            padding-top: 0;
        }

        .home__footer-right {
            flex: 1;
        }
    }


    .form__modal {

        padding: 20px;

        .form__modal-input,
        .form__modal-textarea {
            padding: 12px 16px;
        }

        .form__title {
            font-size: 26px;
            margin-bottom: 20px;
        }

        .btn-orange {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .form__modal-input,
    .form__modal-textarea {
        padding: 12px 16px;
    }

    /* products */
    .products {

        .products__content {
            border-radius: 32px;
            padding: 25px 15px 15px;

            &::after {
                height: 20px;
                bottom: -20px;
            }

            &::before {
                height: 20px;
                bottom: -40px;
            }
        }

        .products__title {
            font-size: 31px;
            margin-bottom: 20px;
        }

        .product__descr {
            font-size: 16px;
            padding: 15px;
        }


        /* scheme */

        .scheme__list-items {

            span {
                font-size: 20px;

                &::before {
                    display: none;
                }
            }
        }

        .scheme__title {
            margin-bottom: 130px;
        }

        .btn-scheme {
            padding: 10px 20px;
        }
    }

    .scheme__items:first-child::after {
        left: 50px;
        bottom: 30px;
    }

    /* offer */
    .offer {

        .offer__inner {
            padding: 40px 0;
        }

        .offer__row {
            flex-wrap: wrap;
        }

        .offer__title {
            font-size: 30px;
        }

        .offer__items {
            width: 49%;
            margin-bottom: 30px;
        }

        .offer__subtitle  {
            font-size: 20px;
        }
    }
}

/* Landscape phones and portrait tablets - 767px*/
@media (max-width: 767px) {

    /* home */
    .home {

        .home__content {
            min-height: 880px;
        }

        .home__footer-title {
            font-size: 32px;
        }

        .home__footer-subtitle {
            font-size: 20px;
        }

        .home__footer-descr {
            font-size: 16px;
        }

        .home__content {
            padding-left: 20px;
            padding-right: 20px;
        }

        .home__footer-btn {

            .btn {
                padding: 10px 50px;
            }
        }
    }

    /* products */
    .products {
        padding-bottom: 50px;
    }

    .products__content {
        margin-bottom: 40px;
    }

    /* scheme */
    .scheme {

        .scheme__header {
            width: 110px;
            height: 110px;
        }
        
        .scheme__title {
            font-size: 30px;
            margin-bottom: 95px;
        }

        .scheme__list-items {
            padding: 0 10px;

            span {
                font-size: 16px;
            }
        }

        .scheme__footer {
            .btn {
                padding: 8px 22px;
                font-size: 18px;
            }
        }
    }
}


/* Portrait phones and smaller - 480px */
@media (max-width: 480px) {

    .container {
        padding: 0 20px;
    }

    /* home */
    .home {
        .home__content {
            flex-direction: column;
            justify-content: flex-start;
            min-height: 1200px;
            padding: 15px;

            .home__left {
                margin-bottom: 55px;
            }

            .home__left,
            .home__right {
                width: 100%;
            }
        }

        .home__footer-row {
            flex-direction: column;
        }

        .home__footer-left,
        .home__footer-right {
            width: 100%;
        }

        .home__footer-btn {
            text-align: center;

            .btn {
                padding: 10px 50px;
            }
        }

        .home__footer-right {
            margin-top: 20px;
        }
    }


    /* form */
    .form__modal {
        border-radius: 15px;
    }


    .form__modal {

        .btn {
            margin: 0 90px;
        }
    }

    /* products */

    .products {

        .products__row {
            flex-wrap: wrap;

            .products__left,
            .products__right {
                width: 100%;
            }

            .products__left {
                margin-bottom: 15px;
            }
        }

        .products__title {
            font-size: 26px;
            line-height: 1.2;
            margin-bottom: 15px;
        }

        .products__content::after {
            height: 15px;
            bottom: -15px;
        }

        .products__content::before {
            height: 15px;
            bottom: -30px;
        }

        .products__footer {
            margin-top: -390px;
        }

    }

    /* scheme */
    .scheme {

        .scheme__title {
            font-size: 26px;
        }

        .scheme__row {
            flex-wrap: wrap;
        }

        .scheme__items {
            width: 100%;
            margin-bottom: 120px;

            &::after {
                display: none;
            }
        }

        .scheme__wrapper {
            position: static;
        }
    }

    /* offer */
    .offer {
        
        .offer__item-header {
            margin-bottom: 20px;
        }

        .offer__item-content-text {
            font-size: 20px;
        }
    }
}


/* Iphone 5 - 320px*/
@media (max-width: 320px) {

    .container {
        padding: 0 12px;
    }

    /* home */
    .home {

        .home__content {
            min-height: 1200px;
        }

        .home__title {
            font-size: 24px;
        }

        .home__subtitle {
            font-size: 16px;
            padding-left: 0;

            &::before {
                display: none;
            }
        }

        .home__footer-btn {
            .btn {
                padding: 12px 50px;
            }
        }

        .home__footer-title {
            font-size: 20px;
            font-weight: 900;
        }

        .home__footer-subtitle {
            font-size: 18px;
        }

        .home__footer-subtitle {
            font-size: 18px;
            font-weight: 700;
        }
    }

    /* form */

    .form__modal {
        .form__title {
            font-size: 24px;
        }

        .form__modal-input {
            padding: 8px 12px;
        }

        .btn {
            margin: 0 30px;
            padding: 12px 12px;
        }
    }

    /* products */
    .products {

        .products__title  {
            font-size: 20px;
        }

        .products__left {

            .product__descr {
                font-size: 16px;
                padding: 14px;
            }
        }

        .product__descr {
            font-size: 12px;
            padding: 10px;
        }

        .products__footer {
            margin-top: -300px;
        }

        .products__content {
            margin-bottom: 70px;
        }
    }

    /* scheme */
    .scheme {

        .scheme__title {
            font-size: 20px;
        }

        .scheme__content-title {
            font-size: 24px;
            margin-bottom: 24px;
        }

        .scheme__footer {

            .btn {
                padding: 10px 10px;
            }
        }

    }

    /* offer */

    .offer {

        .offer__items {
            width: 100%;
        }

        .offer__title {
            font-size: 26px;
        }

        .offer__subtitle {
            font-size: 15px;
        }
    }
}