.nav__list {
	display: flex;
	align-items: center;
	padding-left: 0;
}

.uk-offcanvas-bar {
	.nav__list {
		align-items: flex-start;
	}
}

.nav__item {
	list-style: none;
}

.nav__link {
	font-size: 18px;
	color: #000;
	margin: 0 14px;
	transition: color 0.2s linear;
	border: none;
	text-transform: capitalize;

	&:hover {
		color: rgba(242, 62, 96, 1);
	}
}

/* uk-dropdown */

.nav {
	.uk-button-default {
		padding-left: 0;
		padding-right: 0;
	}

	.uk-dropdown.uk-open {
		left: -25px !important; 
		padding: 10px;
		padding-left: 15px;
		background: rgba(242, 62, 96, 0.9);
		border-radius: 5px;
		color: #fff;

		&::after {
			content: "";
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			border: 10px solid transparent; border-bottom: 10px solid rgba(242, 62, 96, 0.9);
		}
	}

	.nav__dropdown {
		list-style: none;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0;
		
		a {
			display: inline-block;
			color: #fff;
			margin-bottom: 5px;

			&:hover {
				color: #000;
			}
		}
	}
}

.nav__list {
	[hidden], .uk-hidden {
		display: none !important;
	}	
}

.uk-offcanvas-bar,
.nav__list {
	[hidden], .uk-hidden {
		display: none !important;
	}

	.uk-accordion {
		padding-bottom: 10px;
	}

	.uk-accordion-title {
		padding-right: 30px;
		color: #fff;

		&:focus {
			color: #fff;
		}

		&:hover {
			color: #f23e60;
		}
	}

	.uk-accordion-content {
		margin-left: 30px;
		margin-top: 15px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: column;

		a {
			margin-bottom: 10px;
			
			&:hover {
				color: #f23e60;
			}
		}
	}
}