.nav__list {
	display: flex;
}

.nav__item {
	list-style: none;
}

.nav__link {
	font-size: 18px;
	color: #000;
	margin: 0 24px;
	transition: color 0.2s linear;

	&:hover {
		color: rgba(242, 62, 96, 1);
	}
}