/* offer */

.offer {
	background: #fff;
}

.offer__inner {
	padding: 90px 155px;
}

.offer__title {
	font-weight: 800;
	font-size: 35px;
	color: #092853;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;
}

.offer__subtitle {
	font-size: 23px;
	line-height: 1.5;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.offer__row {
	display: flex;
	justify-content: space-between;
}

.offer__items {
	position: relative;
	width: 24%;
	background: #fff;
	border: 0.817656px solid #FFFFFF;
	box-shadow: 0px 3.06759px 30.6759px rgba(43, 89, 255, 0.08), 24.5297px 57.2359px 98.1188px rgba(27, 49, 66, 0.13);
	border-radius: 24.0906px;
	padding: 18px 15px 45px;

	&::before {
		content: "";
		position: absolute;
		bottom: -17px;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
		height: 25px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		background: rgba(255, 255, 255, 0.6);
		border-radius: 0 0 76px 76px;
		box-shadow: 45px 106px 183px rgba(27, 49, 66, 0.05);
	}
}

.offer__item-header {
	border-radius: 4px 4px 0 0;
	overflow: hidden;
	margin-bottom: 40px;
}

.offer__item-img {
	width: 100%;
	height: 100%;
}

.offer__item-content {
	text-align: center;
}

.offer__item-content-text {
	font-weight: 600;
	font-size: 25px;
	color: #000;
}