.partners__container {
    max-width: 1900px;
    margin: 0 auto;
}

.partners__inner {
    background: blue;
    background: url("../images/partners-bg.jpg") no-repeat;
    min-height: 700px;
    padding: 100px 0;
}

.partners__title {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 55px;
    line-height: 1.3;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.partners__subtitle {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 30px;
    line-height: 1.6;
    text-align: center;
    color: #ffffff;
}
