.page__products {
    .uk-slider-items {
        margin-left: 10px;
        margin-right: 10px;
    }

    li {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 20px;
    }

    .uk-card-media-top {
        height: 241px;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .uk-card {
        width: 24%;
        margin-bottom: 83px;
        border-radius: 21px;
    }

    .uk-card-body {
        padding: 24px;
        padding-bottom: 50px;
    }

    .uk-slider-container-offset {
        padding-bottom: 40px;
    }

    .page__products__footer {
        text-align: center;
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .page__products__item {
        width: 100%;
        height: 100%;
    }

    .page__products__card-title {
        max-width: 236px;
        font-family: "Nunito";
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #3b3a40;
        margin-bottom: 15px;
    }

    .productPage__card-subtitle {
        font-family: "Nunito";
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: #64626a;
    }

    .page__products__arrows {
        position: relative;
        top: -26px;
        width: 98%;
        margin: 0 auto;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            background: #fff;
            border-radius: 50%;
            background: #ffffff;
            box-shadow: 10px 10px 20px 10px rgba(34, 60, 80, 0.2);
        }
    }

    .uk-pagination {
        li {
            background: #ffffff;
            border: 1px solid #eae9f2;
            border-radius: 5px;

            a,
            span {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 800;
                font-size: 21px;
                line-height: 1.2;
                text-align: center;
                color: #19191b;

            }
        }

        .uk-active {
            background: linear-gradient(306.64deg, rgba(255, 41, 105, 0.45) 27.07%, rgba(247, 122, 28, 0.45) 71.29%),
                #fbb040;

            span {
                color: #fff;
            }
        }

        .uk-disabled{
            span {
                color: #eae9f2;
            }
        }
    }
}
