<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<img class="header__logo-img" src="assets/images/Logo.png" alt="Logo">
			</div>

			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav__link" href="#">Главная</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Продукция</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Калькулятор</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">О компании</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Новости</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Контакты</a>
					</li>
				</ul> <!-- nav__list -->
			</nav> <!-- nav -->

			<div class="header__tel">
				<a class="header__telephone  btn  btn-blue" href="tel:+78142332211">+99899 999-99-99</a>
			</div>
		</div>
	</div>
</header>